@import "variables";
@import "modular-scale";
@import "font-awesome";
@import "breakpoint";
//@import "animate";
@import "juice";
@import "jeet/index";

// Begin: Juice Config
	$ms-base: $body-base-font-size;
	$ms-ratio: $golden $major-third;
	$base-px-default: $body-base-font-size !default;
// End: Juice Config

// Mixins
@import "mixins/typography";

// Typography
@import "typography/base";

// Grid
@import "grid/base";

// Components
@import "components/fullpage-header";