body {
	background-color: $body-background-color;
	
	@include typography-scale(0, 100%);
	font-weight: $font-weight-regular;

	font-family: $body-font-family;
	color: $body-font-color;

	@extend %smoothed-font;
}

p {
	text-align: $body-text-align;
}

strong, b {
	font-weight: $font-weight-bold;
}

.quiet {
	color: tint($body-font-color, 30%);
}

em, i {
	font-weight: $font-weight-light;
	font-style: italic;
}

@import "anchor";
@import "headings";