.header {
	height: $full-page-height;
	color: white;
	background-image: linear-gradient($full-page-color, $full-page-color ), $full-page-image;
	background-size: cover;
	margin: $full-page-margin;

	@include border-box-sizing();

	
	h1 {
		text-align: center;
		margin: 0;
		@include typography-scale(2, 0%);
	}

	h2 {
		text-align: center;
		margin: 0;
		@include typography-scale(0, 0%);
	}

	.top-navigation {
		margin-top: 30px;
		position: absolute;
		//border-bottom: 1px solid rgba(white, 0.1);
		width: 100%;
	}

	.scrolled {
		margin-top: 0px;
		transition: 200ms all linear;
		background-color: rgba(white, 0.95);

		a {
			color: $anchor-color !important;
		}
	}

	.center-block {
  		@extend %vert-centerer;
	}

	.brand {
		//margin-top: 40px;
		@include span(1/4);
	}

	.nav {
		//margin-top: 40px;
		@include span(3/4);
		@include typography-scale(0, 0%);
		@include nav-base-inline();
		text-align: right;
		font-family: $body-font-family;

		ul {
			@include responsive-hide(0 nth($screen-md, 1));
		}
		
		.more {
			position: fixed;
			top: 20px;
			right: 20px;
			background-color: rgba(black, 0.5);
			@include square(10px);
			border: none;
			padding: 20px;
			@include responsive-hide($screen-lg);
			@include responsive-show(0 nth($screen-xs, 1));
		}

		a {
			color: shade(white, 4%);
			padding: 11px;
			margin-right: 10px;
			border: 2px solid transparent;
			transition: 400ms border linear;
			text-transform: uppercase;
			font-weight: bold;

			&:hover {
				color: white;
				border: 2px solid rgba(white, 0.6);
			}
		}
	}
}