@mixin typography-scale($ratio, $shade) {
	font-size: rem-calc(ms($ratio)); 
	line-height: rem-calc(ms($ratio) * $line-height-ratio); 
	

	color: shade($body-font-color, $shade);
	font-family: $heading-font-family;
}

@mixin hr($width, $color, $size) {
	border: none;
	width: $width;
	border-top: $size solid $color;
	margin-top: 50px;
	margin-bottom: 50px;
}

%smoothed-font {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}